{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Superficy</th>
            <th>Price</th>
            <th>Adress</th>
            <th>Region</th>
            <td> &nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
        <tr>

            <td>{{ room.id }}</td>
            <td>{{ room.summary }}</td>
            <td>{{ room.description }}</td>
            <td>{{ room.capacity }}</td>
            <td>{{ room.superficy }}</td>
            <td>{{ room.price }}</td>
            <td>{{ room.address }}</td>
            <td>{% for region in room.regions %}{{ region.name }}{% endfor %}</td>
            <td>show</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="8">no rooms found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
