{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
{{parent()}}

<!-- <section id="Destination" class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Region index</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate pt-5">
                <div class="project-destination">
                    <a href="#" class="img" style="background-image: url({{ asset('images/place-1.jpg') }});">
                        <div class="text">
                            <h3>Singapore</h3>
                            <span>8 Tours</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
 -->


<table class="table">
    <tbody>
        <section id="Destination" class="ftco-section">
            <div class="container">
                <div class="row">
                    {% for region in regions %}
                    <!-- <tr>
                        <td>{{ region.id }}</td>
                        <td>{{ region.name }}</td>
                        <td>{{ region.presentation }}</td>
                        <td>{{ region.country }}</td>
                        <td>
                            <a href="{{ path('region_show', {'id': region.id}) }}">show</a>
                            <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>
                            {% if region.id in app.session.get('likes') %}
                            <a href="{{ path('region_like', {'id': region.id}) }}"><i class="fas fa-heart"></i></a>
                            {% else %}
                            <a href="{{ path('region_like', {'id': region.id}) }}"><i class="far fa-heart"></i></a>
                            {% endif %}
                            {{ dump(app.session.get('likes')) }}


                        </td>
                    </tr> -->

                    <div class="col-md-3 ftco-animate pt-5">
                        <div class="project-destination">
                            <a href="{{ path('region_show', {'id': region.id}) }}" class="img" style="background-image: url('https://source.unsplash.com/random/?{{ region.name }},building');">
                                <div class="text">
                                    <h3>{{ region.name }}</h3>
                                    <span>{{ region.rooms.count }} &nbsp; House</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                </div>
            </div>
        </section>

    </tbody>
</table>

<a href="{{ path('region_new') }}">Create new</a>
{% endblock %}
