{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
{{parent()}}


<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">All House in {{region.name}}</h2>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <table class="table">
            <tbody>
                <div class="row">
                    {% for room in rooms %}
                    <div class="col-md-4 ftco-animate">
                        <div class="project-wrap">
                            <a href="{{ path('room_show', {'id': room.id}) }}" class="img" style="background-image: url({% if vich_uploader_asset(room, 'imageFile') %}{{ vich_uploader_asset(room, 'imageFile') }}{% else %}'https://source.unsplash.com/random/?room,{{room.id}}'{% endif %});"></a>

                            <div class="text p-4">
                                <span class="price">{{ room.price }} $ / day</span>
                                {% for region in room.regions %}
                                <div class="row justify-content-between">
                                    <div class=" col">
                                        <h3><a href="#">{{ region }}</a></h3>
                                    </div>
                                    <div class="col-1">
                                        {% if room.id in app.session.get('likes') %}
                                        <a href="{{ path('room_like', {'id': room.id}) }}?next_page=region_show&room_number={{ region.id }}"><i class="fas fa-heart"></i></a>
                                        {% else %}
                                        <a href="{{ path('room_like', {'id': room.id}) }}?next_page=region_show&room_number={{ region.id }}"><i class="far fa-heart"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                <p class="location"><span class="ion-ios-map"></span> {{room.summary}}</p>
                                <ul>
                                    <li class="text-black-50"><i class="fas fa-user text-warning" aria-hidden="true"></i> {{room.capacity}} </li>
                                    <li class="text-black-50"><i class="fas fa-bed text-warning"></i> {{room.bed}} </li>
                                    <li class="text-black-50"><i class="fas fa-home text-warning"></i> {{room.superficy}} ㎡</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <tr>
                        <td colspan="8"> no records found</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

</section>



<!-- <table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ region.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ region.name }}</td>
        </tr>
        <tr>
            <th>Presentation</th>
            <td>{{ region.presentation }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ region.country }}</td>
        </tr>

        {% for room in rooms %}
        <tr>
            <td>{{ room.id }}</td>
            <td>{{ room.summary }}</td>
            <td>{{ room.price }}</td>
            <td>{{ room.address }}</td>
            <td>{% for region in room.regions %}{{ region.name }}{% endfor %}</td>
            <td><a href="{{ path('room_show', {'id': room.id}) }}">show</a></td>
            <td>{% if region.id in app.session.get('likes') %}
                <a href="{{ path('room_like', {'id': room.id}) }}"><i class="fas fa-heart"></i></a>
                {% else %}
                <a href="{{ path('room_like', {'id': room.id}) }}"><i class="far fa-heart"></i></a>
                {% endif %}
                {{ dump(app.session.get('likes')) }}
            <td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no rooms found</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->

<a href="{{ path('region_index') }}">back to list</a>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>

{{ include('region/_delete_form.html.twig') }}
{%endif%}
{% endblock %}
